h1{
    text-align: center;
}
.currentTurn, .winnerP, .submitContainer{
    text-align: center;
}




.container{
    border: solid;
    margin-top: 100px;
    justify-self: center;
    display: grid;
    background-color: aliceblue;
    width: 40vw;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.container .gridSquare{
    align-content: center;
    border: solid;
    text-align: center;
    font-size: 3rem;
}

.gridSquare:hover{
    background-color: grey;
    cursor: pointer;
}